@import "../../../../../shared/vars";

.comments-section {
  margin-top: 2.5rem;
}

.comments-section__head {
  padding: 10px 1.4rem;
  border-radius: 25px;
  display: flex;
}

.comments-head__count {
  color: $black;
}

.comments-head__sort {
  display: flex;
  align-items: center;
  svg {
    margin: 0 1rem 0 2.5rem;
  }
}

.comments-head__sort-text {
  color: $black;
}
