@import "../../../../../shared/vars";

.last-matches__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0.7rem;
  background: $ltltgray;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 0.8rem;
}

.last-matches__content__date {
  font-weight: 500;
  color: $black;
  width: 10%;
}

.last-matches__content__event {
  color: $ltblue;
  width: 25%;
  white-space: nowrap;
  text-align: right;
  direction: rtl;
}

.last-matches__content__format {
  font-weight: 600;
  color: $ltblue;
  font-size: 0.8rem;
  width: 5%;
}

.last-matches__content__score {
  font-weight: 600;
  color: $ltblue;
  font-size: 0.8rem;
  color: $ltred;
  line-height: 1.1;
  width: 5%;
  cursor: pointer;
  text-decoration: underline;
  position: relative;
}

.last-matches__score_winner {
  color: $green;
}

.last-matches__content__vsname {
  color: $black;
  font-weight: 500;
  width: 10%;
  text-align: right;
  white-space: nowrap;
  // direction: rtl;
}

.last-matches__content__vs {
  // transform: scale(1.1);
  width: 4%;
}
