.search-bar {
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(167, 201, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  padding: 6px 12px;
  border-radius: 10px;
}

.search-bar__input {
  display: inline-block;
  padding-right: 100px;
  border: none;
  background: none;
  color: #fff;
  width: 100%;

  &::placeholder {
    color: #fff;
  }

  &:active,
  &:focus {
    outline: none;
  }
}
