.match-team {
  width: 100%;
  height: 100%;
}

.match-team__preview {
  height: 68%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 4rem;
  margin: 0 2rem;

  &.reversed {
    justify-content: flex-start;
    .match-team__country {
      right: auto;
      left: -6px;
    }
  }
}

.match-team__players {
  height: 32%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.match__img-full {
  width: 5.5rem;
  height: 5.5rem;
  padding: 0.8rem;
  border-radius: 50%;
  background: #fff;
  position: relative;

  &:after {
    content: "";
    background: white;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: opacity 0.1s;
  }

  &:hover {
    &:after {
      opacity: 0.6;
    }
    .match-team__link {
      opacity: 1;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.match-team__country {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0.4rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  right: -6px;
  top: -6px;
  z-index: 10;
  pointer-events: none;
}

.match-team__link {
  opacity: 0;
  width: 70%;
  border-radius: 5px;
  // height: 16px;
  padding: 4px 0;
  background: #2b7bfb;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  font-size: 9px;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.1s;
  z-index: 10;

  &:hover {
    background: #518eef;
  }
}

.match-team__name {
  margin: 0 1rem;
  font-size: 1.24rem;
  font-weight: 600;
}
