@import "../../../../../shared/vars";

.crossing-matches {
  margin-top: 1rem;
}

.crossing-matches__head {
  text-align: center;
  margin-bottom: 1rem;
}

.crossing-matches__subhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: $ltltgray;
  border-radius: 15px;

  > * {
    width: 33.33333%;
  }
}

.crossing-matches__subhead-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  // > * {
  //   width: 33.33333%;
  // }
}

.subhead-stats__wins-count {
  text-align: center;
  color: $black;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.subhead-stats__wins-text,
.subhead-stats__total-text {
  text-align: center;
  color: $black;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1;
}

.subhead-stats__total-count {
  text-align: center;
  color: $black;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.wins-count_greater {
  color: $ltblue;
}

.crossing-matches__team {
  &:first-child {
    justify-content: flex-start;
  }
  &:last-child {
    justify-content: flex-end;
  }
}

.crossing-matches__teamimg {
  max-width: 35px;
}

.crossing-matches__teamname {
  margin: 0 1rem;
  font-weight: 600;
}

.crossing-matches__team {
  display: flex;
  align-items: center;
}

.crossing-matches__items {
  display: flex;
  flex-direction: column;
}

.crossing-matches__item {
  width: 100%;
  padding: 0.4rem 0.7rem;
  background: $ltltgray;
  border-radius: 15px;
  margin: 7px 0;
  &:first-child {
    margin-top: 14px;
  }
}

.crossing-matches__content {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

.crossing-matches__match {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.crossing-matches__date {
  font-weight: 500;
}

.crossing-matches__event {
  color: $ltblue;
}

.crossing-matches__format {
  font-weight: 600;
  color: $ltblue;
}

.crossing-matches__score {
  font-weight: 600;
  color: $ltred;
  text-decoration: underline;
}

.crossing-matches__score_winner {
  color: $green;
}

.crossing-matches__vs {
  text-align: center;
  > * {
    display: inline-block;
    vertical-align: middle;
  }
  width: 20%;
}

.crossing-matches__vsname {
  font-weight: 500;
  margin-left: 5px;
}
