.last-matches {
  margin-top: 1rem;
}

.last-matches__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last-matches__teamimg {
  max-width: 25px;
}

.last-matches__teamname {
  margin: 0 1rem;
  font-weight: 600;
}

.last-matches__team {
  display: flex;
  align-items: center;
}

.last-matches__items {
  display: flex;
  align-items: center;
}

.last-matches__item {
  width: 50%;
  &:first-child {
    margin-right: 5px;
  }
  &:last-child {
    margin-left: 5px;
  }
}
