.match__team-players-item {
  width: 3.7vw;
  max-width: 70px;
}

.player__img-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }

  &:after {
    content: "";
    background: white;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.1s;
  }

  &:hover {
    &:after {
      opacity: 0.4;
    }
    .player__link {
      opacity: 1;
    }
  }
}

.player__link {
  opacity: 0;
  width: 80%;
  border-radius: 5px;
  // height: 16px;
  padding: 3px 0;
  background: #2b7bfb;
  position: absolute;
  overflow: hidden;
  font-size: 8px;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.1s;
  z-index: 10;

  &:hover {
    background: #518eef;
  }
}

.player__nick {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
